<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="LOGS" value="./logs" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] : %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    
<!--    <appender name="VirtualThread"-->
<!--        class="ch.qos.logback.core.rolling.RollingFileAppender">      	-->
<!--    	<file>${LOGS}/virtualthread-${MDC[virtualThreadId]}.log</file>-->
<!--    	<rollingPolicy-->
<!--        	class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--        	<fileNamePattern>${LOGS}/archived/virtualthread-1-%d{yyyy-MM-dd}.%i.log-->
<!--        	</fileNamePattern>-->
<!--        	<timeBasedFileNamingAndTriggeringPolicy-->
<!--            	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--            	<maxFileSize>10MB</maxFileSize>-->
<!--        	</timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
      
<!--        <encoder-->
<!--            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>%d %p [%t] %m %X{virtualThreadId} %n</Pattern>-->
<!--        </encoder>-->
        
<!--	</appender>-->


	<!-- https://nurkiewicz.com/2013/04/siftingappender-logging-different.html -->
	<appender name="VirtualThread" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>virtualThreadId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
             <appender name="FILE-${virtualThreadId}" class="ch.qos.logback.core.FileAppender">
                <file>${LOGS}/VirtualThread-${virtualThreadId}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
	
    
    <root level="debug">
        <appender-ref ref="Console" />
    </root>
    
	<logger name="jbi.sample.mdclog.service" level="trace" additivity="false">
		<appender-ref ref="VirtualThread" />
	</logger>

</configuration>